.OrderItem {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.OrderItem--wrap {
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 189, 189);
    padding: 2rem;
    width: 60vw;
}
.OrderItem--wrap-top {
    display: flex;
    gap: 4rem;
    
}
.OrderItem--wrap-top * * {
    text-align: left;
}
.OrderItem--wrap-center {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.OrderItem--wrap-bottom {
    display: flex;
    justify-content: right;
    width: 100%;

}
.OrderItem--wrap-bottom-right {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: right;
}
.OrderItem--wrap-bottom .btn-delete {
    padding: 1rem 2rem;
    background-color: rgb(255, 93, 93);
    color: white;
    border: 0;
}