.ProductCard {
    width: fit-content;
    padding: 1rem;
}
.ProductCard .img {
    width: 10rem;
}
.ProductCard p {
    margin: 0;
    text-align: left;
}
.ProductCard .wrap-bottom {
    padding-left: 0.5rem;
}
.ProductCard .price {
    color: rgb(238, 77, 45);
    font-weight: 600;
}